<h1>Create A User</h1>

 <!-- #Form made with html

 

<form action="/users" method="post" accept-charset="utf-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">  
        
    <p>
        
        <input type="username" id="username" name="user[username]">
        <label for="username">Username:</label><br><br>
    </p>

    <p>
        <input type="email" id="email" name ="user[email]">
        <label for="email">Email:</label><br><br>
    </p>

    <p>
    <input type="password" id="password" name="user[password]">
    <label for="password">Password:</label><br><br>
    </p>

    <input type="submit" value="Submit">
</form>
-->

<!-- Alternate form using deprecated form_tag


<%= form_tag("/users", method: "post") do %>
    <p>
        <%= label_tag(:username, "Username:") %>
        <%= text_field_tag(:username)%><br><br>
    </p>

    <p>
        <%= label_tag(:email,"Email:")%>
        <%= email_field_tag(:user, :email)%><br><br>
    </p>

    <p>
        <%= label_tag(:password,"Password:")%>
        <%= password_field_tag(:password)%><br><br>
    </p>

     <%= submit_tag("Submit") %>
<% end %>
-->

<%= render partial: 'form' %>

